body {
margin: 0;
background: #110225;
color: white;
font-family: sans-serif;
}


.topbar {
background: #1b043f;
padding: 12px;
display: flex;
align-items: center;
gap: 15px;
box-shadow: 0 0 10px #6b2fef;
}


#searchBox {
flex: 1;
padding: 8px;
border-radius: 6px;
border: none;
background: #2a0f40;
color: white;
}


#loginBtn {
background: #6b2fef;
border: none;
padding: 10px 15px;
border-radius: 8px;
color: white;
}


.sidebar {
position: fixed;
top: 0;
left: -250px;
width: 250px;
height: 100%;
background: #1b043f;
padding-top: 60px;
transition: 0.3s;
}


.sidebar a {
display: block;
padding: 15px;
color: white;
text-decoration: none;
border-bottom: 1px solid #2a0f40;
}


.sidebar a:hover {
background: #6b2fef;
}
