body {
  margin: 0;
  background: #110225;
  font-family: "Cairo", sans-serif;
  color: white;
}

/* الشريط العلوي */
.topbar {
  display: flex;
  align-items: center;
  background: #1a0335;
  padding: 10px 20px;
  gap: 15px;
}

.topbar img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.topbar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #3b176b;
  color: white;
}

/* زر الدخول */
.login-btn {
  background: #7b2cbf;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

/* القائمة الجانبية */
.sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  width: 160px;
  height: 100%;
  background: #1a0335;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar button {
  background: none;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  color: #c7a4ff;
  cursor: pointer;
}

.sidebar button:hover {
  background: #3b176b;
}

/* المحتوى */
main {
  margin-right: 180px;
  padding: 20px;
}

.welcome {
  text-align: center;
  font-size: 32px;
}
.welcome-sub {
  text-align: center;
  color: #b8a2d6;
}

/* بطاقة الكتاب */
.book-card {
  background: #1a0335;
  padding: 15px;
  border-radius: 10px;
  width: 220px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.book-card img {
  width: 100%;
  border-radius: 10px;
}
